html, body {
  height: 100px;
  margin: 0;
  padding: 0;
}

  nav {
  font-family: 'Cinzel', serif;
  }

#map {
  height: 630px;
  width : 100%;
}

body {
  padding-top: 56px;
}

ul {
  color: white;
}

#info-window {
  font-size: 1em;
}

h4 {
  display: block;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  border-width: thin;
  border-bottom-style: solid;
  padding-bottom: 0.6em;
  cursor: pointer;
  font-family: 'Cinzel', serif;
}

li:hover {
  background-color: gray;
}

i {
  color: white;
  padding:5px;
}

.fa{
  color: white;
}

.svg-holder {
  box-sizing: inherit;
  display: inline-block;
  height: 50px;
  width: 50px;
}