html, body {
  height: 100px;
  margin: 0;
  padding: 0;
}

#map {
  height: 630px;
  width : 100%;
}

body {
  padding-top: 56px;
}

ul {
  color: white;
}

#info-window {
  font-size: 1em;
}

h4 {
  display: block;
}