html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

  nav {
  font-family: 'Cinzel', serif;
  }

#title {
font-size: 1.5rem;
 }

#map {
  height: 100vh;
/*  height: 630px;
*/  width : 100%;
flex:1;
}

.row {
  height: 100%;
  overflow: hidden;
}


body {
  padding-top: 73px;
}

ul {
  color: white;
}

.info-img{
  padding-left: 5px;
  border-radius: 15px 50px;
}
.gm-style{
    border-radius: 15px 50px;
}

h4{
  font-family: 'Cinzel', serif;
}

#info-window {
  font-size: 0.7em;
    font-family: 'Cinzel', serif;
    max-width: 120px;
}
#info-title {
  max-width: 350px;
}

h4 {
  display: block;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  border-width: thin;
  border-bottom-style: solid;
  padding-bottom: 0.6em;
  cursor: pointer;
  font-family: 'Cinzel', serif;
}

li:hover {
  background-color: gray;
}

i {
  color: black;
  padding:5px;
}

#arrows {
  color: white;
}

.svg-holder {
  box-sizing: inherit;
  display: inline-block;
  height: 58px;
  width: 58px;
  align-self: flex-end;
  margin-left: auto;
}

.btn-manual {
  overflow: hidden;
}

.navbar-overlay {
    z-index: 100;
}

main {
  height: 100%;
}
#listBox {
  height: 100%;
}

footer{
  z-index: 999;
}

.info-icon {
  color: black;
}


#info-container {
  display: flex;
}

@media (min-width: 450px){
  #title {
    font-size: 2rem;
  }
  #info-window {
  font-size: 1em;
    max-width: 190px;
}
}

